.shiny-output-error-PFA {
  color: red;
}

.primary {
  color: #3c8dbc;
}

.main-header .logo {
  font-variant: small-caps;
}

.relative {
  position: relative;
}

.dropdown-body {
  padding: 15px;
}

.card-header .nav-link.active {
  background-color: unset;
  
}

td .form-group {
  margin-bottom: 0;
}

.price-badge {
  cursor: pointer;
}

.price-badge a {
  outline: 0;
  color: white;
}